<h1> <%= @article.title %></h1>
<p><%= @article.content %></p>

<%= link_to 'Edit article', edit_article_path %>

<%= link_to "Delete #{@article.title}",
            article_path,
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/article"></a>
